<article>
  <a href="/dashboard" class="is-pulled-right">back to dashboard</a>
  <h2 class="title mt-5">Edit Post</h2><hr>
  <form class="edit-post-form">
    <div>
         <input name="post-title" type="text" value="{{post.title}}" />
         <span>({{post.post_url}})</span>
      </div>
      <div>
          Created on {{format_date post.created_at}}
          |
          <a href="/post/{{post.id}}">{{post.comments.length}}</a>
      </div>
    <button type="submit" class="button is-success">Save post</button>
    <button type="button" class="button is-danger deleteBtn">Delete post</button>
  </form>
</article>

<form class="comment-form">
   <div>
      <textarea  name="comment-body"></textarea>
   </div>

   <div>
      <button type="submit">add comment</button>
   </div>
</form>

{{> comments post.comments }}

<script src="/public/js/addPost.js"></script>
<script src="/public/js/editPost.js"></script>
<script src="/public/js/deletePost.js"></script>
